<div name ="help" role="alert" id="show-information" class="black bg-near-white dn pt2 pb2 mb4-5 w-100 tc bottom-0 fixed br3 b">
    {{text.helpInfo}}
</div>
<nav class="fixed bottom-0 tc pt5 w-100">
  <div class="bg-black o-60">
    <div class="dib ml3">
      <a href="/" title="{{text.homePage}}">
        <i class="f1 fa fa-home white" aria-hidden="true" alt="{{text.homeIcon}}"></i>
      </a>
    </div>
    <div id="help" class="dib" title="{{text.help}}">
      <a href="#help">
        <i class="f1 fa fa-info-circle white" aria-hidden="true" alt="{{text.helpIcon}}"></i>
      </a>
    </div>
  </div>
</nav>
<script type="text/javascript" src="./js/navbar.js" ></script>
