<form tabindex="1" class="pa4 black-80 tc">
    <fieldset>
    <legend>{{text.access}}</legend>
    <section class="w-100">
      <section class="center w-40 db">
           <input class="mr2" type="checkbox" id="braille" value="braille">
           <label for="braille" class="lh-copy w3">{{text.braille}}</label>
           <input class="mr2" type="checkbox" id="large-font-menus" value="large-font-menus">
           <label for="large-font-menus" class="lh-copy w3">{{text.largeFont}}</label>
           <input class="mr2" type="checkbox" id="wheelchair-access" value="wheelchair-access">
           <label for="wheelchair-access" class="lh-copy w3">{{text.wheelchair}}</label>
           <input class="mr2" type="checkbox" id="audio-menu" value="audio-menu">
           <label for="audio-menu" class="lh-copy w3"> {{text.audioMenu}}</label>
           <a class="pa1" href="location">{{text.previous}}</a>
           <a  href="list">{{text.submit}}</a>
      </section>
    </section>
  </fieldset>
</form>

{{> infoNavbar}}
