<form tabindex="1" class="pa4 black-80 tc">
  <fieldset>
    <legend>{{text.bizChoice}}</legend>
    <section class="w-100">
      <section class="center w-40 db">
           <input class="mr2" type="checkbox" id="restaurants" value="restaurants">
           <label for="restaurants" class="lh-copy w3">{{text.restaurants}}</label>
           <input class="mr2" type="checkbox" id="religion" value="religion">
           <label for="religion" class="lh-copy w3">{{text.religion}}</label>
           <input class="mr2" type="checkbox" id="shopping" value="shopping">
           <label for="shopping" class="lh-copy w3">{{text.shopping}}</label>
           <input class="mr2" type="checkbox" id="museum" value="museums">
           <label for="museum" class="lh-copy w3">{{text.museums}}</label>
           <a  href="location">{{text.submit}}</a>
      </section>
    </section>
  </fieldset>
</form>

{{> infoNavbar}}
