  <section class="center mw6 w-100 tc white top-0 mb-nav">
    <section class="tc mt5 mb2 pa1">
        <h2 class="ma0">{{text.disabilitiesPrompt}}</h2>
    </section>
    <section id="filter-buttons" class="w-100 tc mt4 f2">
        <div class="w-100 cf pv1 ph3">
          <div class="fl cf w-25 tc pa1">
            <button class ="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-low-vision" data-storageid="disability" type="button" aria-pressed="false" aria-label='{{text.visual}}' title='{{text.visual}}'></button>
          </div>
          <div class="fl cf w-25 tc pa1">
            <button class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-wheelchair" data-storageid="disability" type="button" aria-pressed="false" aria-label='{{text.physical}}' title='{{text.physical}}'></button>
          </div>
          <div class="fl cf w-25 tc pa1">
            <button class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-deaf" data-storageid="disability" type="button" aria-pressed="false" aria-label='{{text.aural}}' title='{{text.aural}}'></button>
          </div>
          <div class="fl cf w-25 tc pa1">
            <button class="br-100 b--silver pa1 ba bg-light-gray  circle shadow-5 grow flaticon-productivity" data-storageid="disability" type="button" aria-pressed="false" aria-label='{{text.mental}}' title='{{text.mental}}'></button>
          </div>
        </div>

    </section>
    <section class="mt3 mb5 h4">
      <p class="sr-only">{{text.filtersChosen}}</p>
      <div id="filters" class="pa1"></div>
    </section>
    <section class="tc w-100 pv2">
      <a href="services" class="f5 grow no-underline shadow-5 br b--black-30 br-pill ph5 pv3 b dib black bg-near-white" aria-label={{text.nextAria}}>{{text.next}}</a>
    </section>
  </section>
