<form class="pa4 black-80 tc">
  <h1 class="center">location</h1>
  <section class="w-100">
    <section class="center w-40 db">
      <label for="location" class="f6 b db mb2 center">{{text.locChoice}}</label>
      <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area1" value="area1">
         <label for="area1" class="lh-copy">{{text.loc1}}</label>
       </section>
       <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area2" value="area2">
         <label for="area2" class="lh-copy">{{text.loc2}}</label>
       </section>
       <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area3" value="area3">
         <label for="area3" class="lh-copy">{{text.loc3}}</label>
       </section>
       <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area4" value="area4">
         <label for="area4" class="lh-copy">{{text.loc4}}</label>
       </section>
       <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area5" value="area5">
         <label for="area5" class="lh-copy">{{text.loc5}}</label>
       </section>
       <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area6" value="area6">
         <label for="area6" class="lh-copy">{{text.loc6}}</label>
       </section>
       <section class="tl mb2">
         <input class="mr2" type="checkbox" id="area7" value="area7">
         <label for="area7" class="lh-copy">{{text.loc7}}</label>
       </section>
       <section class="pb5">
         <a class="pa1" href="location">{{text.previous}}</a>
         <a  href="list">{{text.submit}}</a>
       </section>
    </section>
  </section>

</form>

{{> infoNavbar}}
