
 <section >
   <ul>
    {{#each results}}
     <a {{{serviceInfoLink this._id}}}>
     <li>
       <div>
          <div>
            <h1>{{this.name}}</h1>
          </div>
          <div>
            <h1>{{this.address}}</h1>
          </div>
          <div>
            <h1>{{this.accessOptions}}</h1>
          </div>
          <div>
            <h1>{{this.open}}</h1>
          </div>
       </div>
     </li>
    </a>
  {{/each}}
 </ul>
</section>
