
 <section >
   <ul>
    {{#each results}}
     <a class="link black" {{{serviceInfoLink this._id}}}>
     <li>
       <div>
          <div>
            <h1>{{this.name}}</h1>
          </div>
          <div>
            <h1>{{this.address}}</h1>
          </div>
          <div class="f2">
            {{#each this.accessOptions}}
            <i {{{convertToIcons this}}} aria-hidden="true" title="{{{this}}}"></i>
            <span class="sr-only">{{this}}</span>
            {{/each}}
          </div>
          <div>
            <h1>{{this.open}}</h1>
          </div>
       </div>
     </li>
    </a>
  {{/each}}
 </ul>
</section>
