<section class="">
  <div class=" ">
    <h1 class="ma0">{{service.name}}</h1>
    <h2>{{text.address}} - {{service.address}}</h2>
    <h3 class="">{{text.accessTitle}}</h3>
    <ul class="pa0 f2">
      {{#each service.accessOptions}}
      <i {{{convertToIcons this}}} aria-hidden="true"></i>
      <span class="sr-only">{{this}}</span>
      {{/each}}
    </ul>
    <p>{{text.desc}}</p><p>{{service.desc}}</p>
    <p>{{text.opens}}</p><p>{{service.open}}</p>
    <h2>{{text.contact}}</h2>
    <p>{{text.phone}}</p><p>{{service.phoneNumber}}</p>
    <p>{{text.email}}</p><p>{{service.email}}</p>
    <div id="googleMap" style="width:100%;height:400px;" data-lat={{latlng.lat}} data-lng={{latlng.lng}} data-name={{service.name}}></div>
    <section class="">
      <a href="https://www.facebook.com"><i class="fa fa-facebook link dim black " title='Link to Facebook Page'></i></a>
      <a href="https://www.instagram.com"><i class="fa fa-instagram link dim black " title='Link to Instagram Page'></i></a>
    </section>
  </div>
</section>

<script type="text/javascript" src="./js/map.js"></script>
<script src={{{mapSrcLink}}}></script>
