<section class="">
  <div class="">
    <a href="/" aria-label={{text.back}}><img src="./assets/icons/BACK_btn.svg" ></a>
  </div>
  <div class="">
    <h2>{{text.serviceQuesion}}</h2>
  </div>
  <div id="services-buttons" class="">
    <button type="button" aria-pressed="false">{{text.food}}</button>
    <button type="button" aria-pressed="false">{{text.shopping}}</button>
    <button type="button" aria-pressed="false">{{text.religion}}</button>
    <button type="button" aria-pressed="false">{{text.health}}</button>
    <button type="button" aria-pressed="false">{{text.viewPoints}}</button>
    <button type="button" aria-pressed="false">{{text.nature}}</button>
    <button type="button" aria-pressed="false">{{text.museums}}</button>
  </div>
  <section>
    <p>{{text.filtersChosen}}</p>
    <div id="filters">

    </div>
  </section>
  <div class="">
    <a href="services" aria-label={{text.submit}}>{{text.submit}}</a>
  </div>
</section>

<script type="text/javascript" src="./js/public.js"></script>

<script type="text/javascript" src="./js/service.js"></script>
