<section class="w-100 tc white fixed top-0 mb3">
  <div class="mt4 pt2 f3 mh2">
    <a href="/" class="near-white dim" aria-label={{text.back}}><i aria-hidden="true" class="{{{chooseBack dir}}}"></i></a>
  </div>
  <section class="tc mt2 mb2 pa">
    <h2 class="ma0">{{text.serviceQuesion}}</h2>
  </section>
  <div id="filter-buttons" class="w-100 tc mt3 f2">
    <div class="w-100 cf pv1 ph3">
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-cutlery" data-storageid="services" aria-pressed="false" aria-label='{{text.food}}' title='{{text.food}}'></button>
      </div>
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-futbol-o" data-storageid="services" aria-pressed="false" aria-label='{{text.sport}}' title='{{text.sport}}'></button>
      </div>
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-graduation-cap" data-storageid="services" aria-pressed="false" aria-label='{{text.education}}' title='{{text.education}}'></button>
      </div>
    </div>
    <div class="w-100 cf pv1 ph3">
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-medkit" data-storageid="services" aria-pressed="false" aria-label='{{text.health}}' title='{{text.health}}'></button>
      </div>
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow flaticon-city-hall-silhouette" data-storageid="services" aria-pressed="false" aria-label='{{text.municipal}}' title='{{text.municipal}}'></button>
      </div>
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-shopping-bag" data-storageid="services" aria-pressed="false" aria-label='{{text.fashion}}' title='{{text.fashion}}'></button>
      </div>
    </div>
    <div class="w-100 cf pv1 ph3">
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow flaticon-worker-of-construction-working-with-a-shovel-beside-material-pile" data-storageid="services" aria-pressed="false" aria-label='{{text.construction}}' title='{{text.construction}}'></button>
      </div>
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow fa fa-laptop" data-storageid="services" aria-pressed="false" aria-label='{{text.it}}' title='{{text.it}}'></button>
      </div>
      <div class="fl cf w-33 tc pa1">
        <button type="button" class="br-100 b--silver pa1 ba bg-light-gray circle shadow-5 grow flaticon-airplane-flight-in-circle-around-earth" data-storageid="services" aria-pressed="false" aria-label='{{text.tourism}}' title='{{text.tourism}}'></button>
      </div>
    </div>
  </div>
  <section class="mt3 mb1 h3-5">
    <p class="sr-only">{{text.filtersChosen}}</p>
    <div id="filters"></div>
  </section>
  <section class="tc w-100 pv2">
    <a href='' class="f5 grow no-underline shadow-5 br b--black-30 br-pill ph5 pv3 b dib black bg-near-white" id='result-link' aria-label={{text.submit}}>{{text.submit}}</a>
  </section>
</section>
