<section class="">
  <div class="">
    <a href="/" aria-label={{text.back}}><img src="./assets/icons/BACK_btn.svg" ></a>
  </div>
  <div class="">
    <h2>{{text.serviceQuesion}}</h2>
  </div>
  <div id="filter-buttons" class="">
    <button type="button" data-storageid="services" aria-pressed="false">{{text.food}}</button>
    <button type="button" data-storageid="services" aria-pressed="false">{{text.shopping}}</button>
    <button type="button" data-storageid="services" aria-pressed="false">{{text.religion}}</button>
    <button type="button" data-storageid="services" aria-pressed="false">{{text.health}}</button>
    <button type="button" data-storageid="services" aria-pressed="false">{{text.viewPoints}}</button>
    <button type="button" data-storageid="services" aria-pressed="false">{{text.nature}}</button>
    <button type="button" data-storageid="services" aria-pressed="false">{{text.museums}}</button>
  </div>
  <section>
    <p>{{text.filtersChosen}}</p>
    <div id="filters"></div>
  </section>
  <div class="">
    <a href='' id='result-link' aria-label={{text.submit}}>{{text.submit}}</a>
  </div>
</section>
